$onyx: #393d3fff;
$dark-onyx: #181a19;
$desert-sand: #fff7f2;
$verdigris: #68b0abff;

$foreground: #8f4e37;
// $background: #fff7f2;
$background: white;
$secondary-foreground: #cbcbcb;
$secondary-background: #8f8f8f;
$box-background: #68b0aba3;